.App{
  gap: "5%";
  margin: "4%";
  margin-left: 6%;
  margin-top:"10%";
  display: "flex";
  background-color: black;
  color: white;
  font-family:"cursive"

}
.Projects{
    background-color: black;
    color: white;
    margin-left:"6%";
    margin-top: "10%";
    font-family:"cursive"
}
.Contact{
    background-color: black;
  color: white;
  margin-left:"6%";
  margin-top: "10%";
      font-family:"cursive";
}
p{
  font-size: 20px;
  color: white;
  max-width: 55%;
    font-family:"cursive"
}
.Skills{
  background-color: black;
  color: white;
  margin-left:"6%";
  margin-top: "10%";
font-family:"cursive"
}
ul{
  font-size: 20px;
  color: white;
  margin-left: "6%";
  list-style-type: decimal;
  font-family:"cursive"
}